@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("./assets/fonts/poppins-v20-latin-600.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./assets/fonts/poppins-v20-latin-700.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/raleway-v28-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/raleway-v28-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("./assets/fonts/raleway-v28-latin-500.woff2") format("woff2"),
    url("./assets/fonts/raleway-v28-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("./assets/fonts/raleway-v28-latin-600.woff2") format("woff2"),
    url("./assets/fonts/raleway-v28-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./assets/fonts/raleway-v28-latin-700.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-700.woff") format("woff");
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
a {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
